.scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.box {
  display: inline-block;
  background-color: darkcyan;
  width: 32px;
  height: 48px;
  margin: 2px;
  font-weight: bold;
  text-align: center;
  border: solid;
  line-height: 48px;
}
.white{
  background-color: darkgray;
}
.m-lay{
  width: 50%;
  margin: 2.5% auto;
}
.bttn{
  background-color: #f44336;
  border: none;
  color: white;
  margin: 2px;
  padding: 4px 8px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}